In [3]:
!pip install --upgrade tables
!pip install eli5

import pandas as pd
import numpy as np

from sklearn.dummy import DummyRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import mean_absolute_error as mae
from sklearn.model_selection import cross_val_score

import eli5

Collecting tables
  Downloading https://files.pythonhosted.org/packages/ed/c3/8fd9e3bb21872f9d69eb93b3014c86479864cca94e625fd03713ccacec80/tables-3.6.1-cp36-cp36m-manylinux1_x86_64.whl (4.3MB)
     |████████████████████████████████| 4.3MB 2.8MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.9.3 in /usr/local/lib/python3.6/dist-packages (from tables) (1.17.5)
Requirement already satisfied, skipping upgrade: numexpr>=2.6.2 in /usr/local/lib/python3.6/dist-packages (from tables) (2.7.1)
Installing collected packages: tables
  Found existing installation: tables 3.4.4
    Uninstalling tables-3.4.4:
      Successfully uninstalled tables-3.4.4
Successfully installed tables-3.6.1
Collecting eli5
  Downloading https://files.pythonhosted.org/packages/97/2f/c85c7d8f8548e460829971785347e14e45fa5c6617da374711dec8cb38cc/eli5-0.10.1-py2.py3-none-any.whl (105kB)
     |████████████████████████████████| 112kB 2.8MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5) (1.12.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.8.6)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (1.17.5)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (19.3.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5) (2.11.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from eli5) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.22.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5) (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->eli5) (0.14.1)
Installing collected packages: eli5
Successfully installed eli5-0.10.1

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.feature_selection.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_selection. Anything that cannot be imported from sklearn.feature_selection is now part of the private API.
  warnings.warn(message, FutureWarning)
Using TensorFlow backend.

In [0]:
from eli5.sklearn import PermutationImportance

##Wczytywanie Danych

In [5]:
cd "/content/drive/My Drive/matrix/matrix_two/matrixcar"

/content/drive/My Drive/matrix/matrix_two/matrixcar

In [0]:
df = pd.read_hdf('data/car.h5')

In [0]:
df.shape

(106494, 155)

##Dummy Model

In [8]:
feats = ['car_id']

X = df[feats].values
y = df['price_value'].values

model = DummyRegressor()
model.fit(X, y)
y_pred = model.predict(X)

mae(y,y_pred)

39465.934630440985

In [0]:
SUFFIX_CAT = '__cat'
for feat in df.columns:
  if isinstance(df[feat][0], list): continue

  factorized_values = df[feat].factorize()[0]

  if SUFFIX_CAT in feat:
    df[feat] = factorized_values
  else:
    df[feat + SUFFIX_CAT] = factorized_values

In [10]:
cat_feats = [x for x in df.columns if SUFFIX_CAT in x]
cat_feats = [x for x in cat_feats if 'price' not in x]
cat_feats
len(cat_feats)

151

In [11]:
X = df[cat_feats].values
y = df['price_value'].values

model = DecisionTreeRegressor(max_depth=5)
scores = cross_val_score(model, X, y, cv=3, scoring='neg_mean_absolute_error')
np.mean(scores)

-19695.13091100928

In [0]:
df.sample(50)

                                               breadcrumb  ... car_id__cat
49283    [Osobowe, Opel, Astra, Opel Astra H (2004-2014)]  ...       32521
9748    [Osobowe, Renault, Clio, Renault Clio IV (2012-)]  ...        6436
61349    [Osobowe, Opel, Corsa, Opel Corsa D (2006-2014)]  ...       40630
67166                            [Osobowe, Toyota, Verso]  ...       44513
54027   [Osobowe, Škoda, Octavia, Škoda Octavia III (2...  ...       35758
149751                            [Osobowe, Nissan, Pixo]  ...       99228
53559   [Osobowe, Toyota, Auris, Toyota Auris II (2012-)]  ...       35428
41304   [Osobowe, Mercedes-Benz, Klasa A, A 180, Merce...  ...       27302
5421        [Osobowe, Saab, 9-3, Saab 9-3 II (2003-2011)]  ...        3555
111386  [Osobowe, Seat, Toledo, Seat Toledo III (2004-...  ...       73892
155996  [Osobowe, Renault, Megane, Renault Megane IV (...  ...      103455
92921                            [Osobowe, Škoda, Citigo]  ...       61597
59799   [Osobowe, Volkswagen, Passat, Volkswagen Passa...  ...       39575
16880   [Osobowe, Volkswagen, Sharan, Volkswagen Shara...  ...       11162
143100  [Osobowe, Toyota, Auris, Toyota Auris II (2012-)]  ...       94821
6216    [Osobowe, Seat, Ibiza, Seat Ibiza IV (2008-2017)]  ...        4072
39896              [Osobowe, Mercedes-Benz, GLA, GLA 220]  ...       26362
107548  [Osobowe, Ford, Mondeo, Ford Mondeo Mk3 (2000-...  ...       71355
108112  [Osobowe, Ford, Fiesta, Ford Fiesta Mk6 (2002-...  ...       71735
140717  [Osobowe, Toyota, Avensis, Toyota Avensis III ...  ...       93268
133364        [Osobowe, Audi, A4, Audi A4 B7 (2004-2007)]  ...       88423
106068   [Osobowe, Citroën, C3, Citroën C3 I (2002-2009)]  ...       70363
47981   [Osobowe, Toyota, Avensis, Toyota Avensis II (...  ...       31675
61369                               [Osobowe, Dodge, RAM]  ...       40642
100329             [Osobowe, Mercedes-Benz, GLE, GLE 350]  ...       66541
126203  [Osobowe, BMW, Seria 3, 320, BMW Seria 3 E46 (...  ...       83664
142393                         [Osobowe, Alfa Romeo, 159]  ...       94358
25531   [Osobowe, Ford, Focus, Ford Focus Mk2 (2004-20...  ...       16834
85014         [Osobowe, Audi, A5, Audi A5 8T (2007-2016)]  ...       56392
127449                       [Osobowe, Chrysler, Sebring]  ...       84500
73961                    [Osobowe, Volkswagen, Passat CC]  ...       49009
51616   [Osobowe, Mercedes-Benz, Klasa C, C 200, Merce...  ...       34123
461     [Osobowe, Volkswagen, Passat, Volkswagen Passa...  ...         303
19827   [Osobowe, Volkswagen, Jetta, Volkswagen Jetta ...  ...       13100
129693   [Osobowe, Opel, Corsa, Opel Corsa D (2006-2014)]  ...       86012
106602  [Osobowe, Volkswagen, Polo, Volkswagen Polo IV...  ...       70717
46569                              [Osobowe, Ford, B-MAX]  ...       30729
75601   [Osobowe, Volvo, XC 60, Volvo XC 60 I (2008-20...  ...       50107
112697  [Osobowe, Kia, Sportage, Kia Sportage III (201...  ...       74742
30930   [Osobowe, Volkswagen, Golf, Volkswagen Golf II...  ...       20381
66479              [Osobowe, BMW, X1, BMW X1 F48 (2015-)]  ...       44036
158221  [Osobowe, Suzuki, Swift, Suzuki Swift IV (2004...  ...      104920
49466   [Osobowe, Mercedes-Benz, Klasa E, E 220, Merce...  ...       32648
52923    [Osobowe, Suzuki, SX4, Suzuki SX4 I (2006-2013)]  ...       34992
31149   [Osobowe, BMW, Seria 5, 520, BMW Seria 5 E60 (...  ...       20534
50030   [Osobowe, Honda, Civic, Honda Civic VIII (2006...  ...       33046
44702   [Osobowe, Renault, Grand Scenic, Renault Grand...  ...       29500
34666    [Osobowe, Citroën, C3, Citroën C3 I (2002-2009)]  ...       22856
65079   [Osobowe, Opel, Insignia, Opel Insignia A (200...  ...       43119
67485                            [Osobowe, Peugeot, 2008]  ...       44728

[50 rows x 309 columns]

In [14]:
m = DecisionTreeRegressor(max_depth=5)
m.fit(X, y)

importance = PermutationImportance(m, random_state=0).fit(X, y)
eli5.show_weights(importance, feature_names=cat_feats)